*.iml
/local.properties
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
/component/src/main/java/com/mackwu/component/core/dao/
/image-compress/.gitignore
/image-transition/.gitignore
/image-transition/.cxx/
/image-transition/build/
/image-compress/build/intermediates/
/.gradle/
/image-compress/build/
