<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mackwu.tv"
    tools:ignore="MissingLeanbackLauncher">

    <!--
        获取系统权限。在manifest标签下添加
        通过share user id，拥有同一个user id的多个APK可以配置成运行在同一个进程中。那么把程序的UID配成android.uid.system，也就是要让程序运行在系统进程中，从而可以使app获取到系统权限
        android:sharedUserId="android.uid.system"
    -->

    <!-- 无所谓？ -->
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        android:banner="@mipmap/ic_launcher">

        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
                <!--<category android:name="android.intent.category.LEANBACK_LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>


        <!-- leanback -->
        <activity android:name=".leanback.HorActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- launcher -->
        <activity android:name=".launcher.LauncherActivity" >
            <!--<action android:name="android.intent.action.MAIN" />-->
            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--<category android:name="android.intent.category.HOME" />-->
            <!--<category android:name="android.intent.category.DEFAULT" />-->
        </activity>


        <!-- source -->
        <activity android:name=".source.SourceActivity" />

    </application>

</manifest>