<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mackwu.view">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".ViewApp"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <!-- base -->
        <activity android:name=".base.TextViewActivity" />
        <activity android:name=".base.EditTextActivity" />
        <activity android:name=".base.SpanActivity" />
        <activity android:name=".base.ActionBarActivity" />
        <activity android:name=".base.RecyclerActivity" />
        <activity android:name=".base.WebViewActivity" >
        </activity>
        <activity android:name=".base.X5Activity"/>
        <activity android:name="com.mackwu.view.base.vp.VpActivity" />
        <activity android:name="com.mackwu.view.base.vp.VpFTabActivity" />
        <activity android:name=".base.DialogActivity" />

        <!-- md -->
        <activity android:name=".md.DrawerActivity" />
        <activity android:name=".md.CardActivity" />


    </application>

</manifest>