<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mackwu.component"
    android:sharedUserId="${SHARE_USER_ID}">

    <!--    android:sharedUserId="android.uid.system"-->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.Manifest.permission.DEVICE_POWER" />

    <!--    -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <!--  Permission is only granted to system apps  -->
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".ComponentApp"
        android:banner="@mipmap/ic_launcher"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <!-- service -->
        <service android:name=".service.MyService" />
        <service
            android:name=".service.WebService"
            android:process=":web" />
        <!--        <service-->
        <!--            android:name=".service.other.AccessService"-->
        <!--            android:label="accessibility test"-->
        <!--            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.accessibilityservice.AccessibilityService" />-->
        <!--            </intent-filter>-->
        <!--            <meta-data-->
        <!--                android:name="android.accessibilityservice"-->
        <!--                android:resource="@xml/accessibilty_config" />-->
        <!--        </service>-->
        <service
            android:name=".service.ScreenService"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="Screensaver"
            android:permission="android.permission.BIND_DREAM_SERVICE">
            <intent-filter>
                <action android:name="android.service.dreams.DreamService" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <service
            android:name=".func.binder.GradeService"
            android:exported="true"
            android:process=":remote" />

        <!-- receiver -->
        <receiver android:name=".func.sleep.SleepAlarmReceiver" />
        <receiver
            android:name=".func.screen.MyDeviceAdminReceiver"
            android:exported="true"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/lock_screen" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <!-- provider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!--   activity   -->
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <!--                <category android:name="android.intent.category.DEFAULT" />-->
                <!--                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />-->
            </intent-filter>
        </activity>
        <!--
            orientation: 屏幕方向改变
            screenSize: 屏幕大小改变
            -->
        <activity
            android:name=".ui.LifecycleActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".ui.ServiceActivity" />

        <!--    view    -->
        <activity android:name=".ui.TextViewActivity" />
        <activity
            android:name=".ui.EditTextActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name=".ui.WebActivity" />
        <activity android:name=".ui.DialogActivity" />
        <activity android:name=".ui.SeekBarActivity" />
        <activity android:name=".ui.ProgressBarActivity" />
        <activity android:name=".ui.ImageCompressActivity" />
        <activity
            android:name=".ui.recycler.MyRecyclerActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".ui.ViewPagerActivity" />
        <activity android:name=".ui.HeartViewActivity" />
        <activity android:name=".ui.recycler.VerticalGridViewActivity" />
        <activity android:name=".ui.AgentWebActivity" />
        <activity android:name=".ui.LottieActivity" />
        <activity android:name=".ui.recycler.FastScrollActivity" />
        <activity android:name=".ui.BarrageActivity" />
        <activity android:name=".ui.recycler.SmartRefreshActivity" />
        <activity android:name=".ui.GlideActivity" />
        <activity android:name=".ui.recycler.RecyclerViewActivity" />
        <activity android:name=".ui.StickyHeaderActivity" />
        <activity android:name=".ui.ViewActivity" />
        <activity android:name=".ui.DrawerActivity" />
        <activity android:name=".ui.share_element.ShareElementActivity" />
        <activity android:name=".ui.share_element.ShareElement2Activity" />
        <activity android:name=".ui.share_element.ShareElement3Activity" />
        <activity android:name=".ui.share_element.ShareElement4Activity" />
        <activity android:name=".ui.FragmentActivity" />

        <!--    other    -->
        <activity android:name=".ui.WindowActivity" />
        <activity android:name=".ui.WifiActivity" />
        <activity android:name=".ui.HandlerActivity" />
        <activity android:name=".ui.OkHttpActivity" />
        <activity android:name=".ui.LiveDataActivity" />
        <activity android:name=".ui.AudioRecordActivity" />
        <activity android:name=".ui.RxActivity" />
        <activity android:name=".ui.SecurityActivity" />
        <activity android:name=".ui.AnimActivity" />
        <activity android:name=".ui.DatabaseActivity" />
        <activity android:name=".ui.AlarmActivity" />
        <activity
            android:name=".ui.AuthActivity"
            android:exported="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="whalephoto.zeasn.tv"
                    android:pathPrefix="/skill/link"
                    android:scheme="https" />
            </intent-filter>
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.VIEW" />-->

            <!--                <category android:name="android.intent.category.DEFAULT" />-->
            <!--                <category android:name="android.intent.category.BROWSABLE" />-->

            <!--                <data-->
            <!--                    android:host="dev-app-h5.govee.com"-->
            <!--                    android:pathPrefix="/share/alexa-link"-->
            <!--                    android:scheme="https" />-->
            <!--            </intent-filter>-->
        </activity>
        <activity android:name=".ui.CacheActivity" />
        <activity android:name=".ui.StorageActivity" />
        <activity android:name=".ui.recycler.VLayoutActivity" />
        <activity android:name=".ui.BinderActivity" />
        <activity android:name=".ui.VideoActivity" />
        <activity android:name=".ui.opengl.OpenGLESActivity" />
        <activity android:name=".ui.GPUImageActivity" />
        <activity android:name=".ui.OverlapActivity" />
        <activity android:name=".ui.DockActivity" />
        <activity android:name=".ui.ImageRotateActivity" />
        <activity android:name=".ui.HttpActivity" />

    </application>

</manifest>