<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mackwu.component">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- service -->
        <service android:name=".service.other.TestService">
            <intent-filter android:priority="1000">
                <action android:name="com.mackwu.component.ACTION_SERVICE" />
            </intent-filter>
        </service>
        <!--
            android:name="android.accessibilityservice.AccessibilityService" 声明辅助功能服务
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" 权限
            android:label="xxx" 名称
            android:resource="@xml/accessibilty_config" 配置
        -->
        <service
            android:name=".service.other.AccessService"
            android:label="accessibility test"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibilty_config" />
        </service>

        <!-- receiver -->
        <!-- 静态注册，在Manifest中注册，广播会跟随程序的生命周期，直到程序被销毁 -->
        <!--<receiver android:name=".register.MyReceiver" >-->
        <!--<intent-filter>-->
        <!--<action android:name="com.mackwu.component.receiver.MyReceiver" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->
        <!--<receiver android:name=".battery.PowerReceiver">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.ACTION_POWER_CONNECTED" />-->
        <!--<action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />-->
        <!--</intent-filter>-->
        <!--</receiver>-->

        <!-- provider -->
        <provider
            android:name=".provider.student.StudentProvider"
            android:authorities="com.mackwu.component.provider.student.StudentProvider" />

        <!-- main activity -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--   activity   -->
        <activity android:name="com.mackwu.component.ui.other.TargetActivity" />
        <activity android:name="com.mackwu.component.ui.other.LaunchModeActivity" />
        <activity android:name="com.mackwu.component.ui.other.LifecycleActivity" />
        <activity android:name=".service.other.TestServiceActivity" />
        <activity android:name=".provider.student.StudentActivity" />
        <activity android:name=".provider.weather.WeatherActivity" />
        <activity android:name=".jetpack.ViewModelActivity" />
        <activity android:name=".jetpack.LiveDataActivity" />
        <activity android:name=".other.db.DbActivity" />
        <activity android:name=".other.SettingActivity" />
        <activity android:name=".other.TimerActivity" />
        <activity android:name=".other.NoStatusBarActivity" />
        <activity android:name=".other.usb.UsbActivity">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
            <!--            <meta-data-->
            <!--                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"-->
            <!--                android:resource="@xml/device_filter" />-->
        </activity>
        <activity android:name=".ui.FragmentActivity" />

    </application>

</manifest>